<!--The content below is only a placeholder and can be replaced.-->
<div class="p-2">
  <h2>Verticle</h2>
  <cdk-drop class="border-grey border-solid border  w-64 block" (dropped)="dropped(verticelData , $event)">
    <div class="border-grey border-solid border m-1 p-1  rounded" *ngFor="let v of verticelData" cdkDrag>{{v}}</div>
  </cdk-drop>

  <h2>Horizontal</h2>
  <cdk-drop orientation="horizontal" class="border-grey border-solid border flex" (dropped)="dropped(horizontalData , $event)">
    <div class="border-grey border-solid border m-1 p-1  w-64 rounded" *ngFor="let h of horizontalData" cdkDrag>{{h}}</div>
  </cdk-drop>

  <h2>Mixed</h2>
  <cdk-drop orientation="horizontal" class="border-grey border-solid border flex flex-wrap" style="width: 50rem;"
    (dropped)="dropped(mixedData , $event)">
    <div class="border-grey border-solid border m-1 p-1  w-64 rounded" *ngFor="let m of mixedData" cdkDrag>{{m}}</div>
  </cdk-drop>
</div>
